a {
    display: block;
    padding-top: 8px;
    font-weight: 500;
    color: inherit;
}

.message-icon {
    width: 20px;
}

.call-icon {
    width: 20px;
}

input {
    padding: 16px 8px;
    border: none;
    background-color: #ffffff;
}

button {
    background: black;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 4px;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    font-weight: 600;
    transition: all 300ms ease;
    margin-left: 8px;
}
button:hover {
    opacity: 0.8;
}
button:active {
    scale: 0.9;
    opacity: 0.8;
}
